*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
     height:80px;
     background-color:#fff;
     border-bottom:1px solid #ccc;
     z-index:99;
}
.header .nav {
    position: relative;
    width:80%;
    margin:0 auto;
    height:100%;
}
.header .nav .logo {
    position: absolute;
    top:50%;
    margin-top:-25px;
    display:inline-block;
    width:50px;
    height:50px;
}
.header .nav .logo img {
    width:100%;
    height:100%;
}
.header .nav ul.list {
    display: block;
    float:right;
}
.header .nav ul li {
    position: relative;
    display:inline-block;
}
.header .nav ul li a {
    line-height: 80px;
    color:#777;
    padding:0 20px;
}
.header .nav ul li::after {
    position: absolute;
    content: "";
    display:block;
    width:0%;
    height:2px;
    background-color:#222;
    bottom:4px;
    transition:width 0.8s ease-in-out;
}
.header .nav ul li:hover::after {
    width:100%;
}
.header .nav ul li:hover a {
    color:#222;
}
@media screen and (max-width:900px) {
    .header {
        height:50px;
    }
    .header .nav ul li a {
        padding:0 10px;
        line-height: 50px;
    }
}
@media screen and (max-width:700px) {
    .header .btn {
        display:block;
        position: absolute;
        width:50px;
        height:50px;
        background:url('img/btn.png') no-repeat;
        background-size:100% 100%;
        cursor: pointer;
        right:20px;
        top:0;
    }

    /* 下拉菜单的样式  并在点击时显示*/
    .header ul.list {
        display:none;
        width:100%;
        margin-top:50px;
        padding:10px;
        background-color:#eee;
        /* z-index:99; */
    }
    .header .nav ul li {
        display:block;
        text-align: center;
        border-bottom:1px solid #fff;
    }   
}
/* 轮播图区域 */
.content {
    position: relative;
    width:100%;
    height:800px;
    margin-top:80px;
}
#swiper {
    position: relative;
    width:100%;
    height:800px;
}
@media screen and (max-width:900px){
    .content {
        margin-top:50px;
    }
}
.content .text {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.content .text p {
    color:#fff;
    font-size:24px;
    font-weight:bolder;
    opacity: 0.15;
    transition: all 0.5s linear;
}
.content .text:hover p{
    opacity: 0.9;
}
/* project */
.project {
    width:80%;
    margin:50px auto;
}
.project .title {
    width:100%;
    height: 30px;
    text-align: center;
    margin-bottom:20px;
}
.project .title p {
    color:#bbb;
    font-weight:bolder;
}
.project .list {
    width:100%;
    text-align: center;
}
.project .list .item {
    position: relative;
    display:inline-block;
    width:260px;
    height:170px;
    margin:40px 20px;
    padding:20px 10px;
    border:1px solid #ddd;
}
.project .list .item img {
    width:95%;
    height:80%;
    border:10px;
    opacity:0.9;
    cursor: pointer;
    transition:all 0.3s linear;
    border-radius: 10px;
}
.project .list .item img:hover {
    transform: scale(1.1);
    opacity: 1;
}
.project .list .item p{
    margin-top:6px;
}

@media screen and (max-width:1300px){
    .project .list .item{
        width:220px;
        margin:13px;
    }
}
@media screen and (max-width: 900px){
    .project .list .item{
        width:250px;
        margin:10px;
    }
}
@media screen and (max-width: 700px){
    .project .list .item{
        width:450px;
        margin:10px auto;
    }
}

/* footer */
.footer{
    position: relative;
    width:100%;
    height:500px;
    background:url('img/bottom.jpg') no-repeat;
    background-size:100% 100%; 
    background-position: center;
}
.footer::after{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}