.button{
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
      background-color: blue;
  }
}
.image{
  width: 100px;
  height: 100px;
}