*{
    margin:0;
    padding:0;
    list-style: none;
}
html,body,.wrapper{
    width:100%;
    height:100%;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#000;
}
.content{
    display: flex;
    width:80%;
    height:80%;
    /* border:1px solid #fff; */
    justify-content: space-between;
    align-items: center;
}
.item{
    width:16%;
    height:100%;
    /* border:1px solid #fff; */
    border-radius:20px;
    overflow: hidden;
    /* 关闭图片 */
    transition: height 0.5s linear 0.5s,width 0.5s linear;
}
.item .inner{
    position: relative;
    width:100%;
    height:100%;
    transition:transform 0.5s linear;
}
.item .inner .bg{
    width:100%;
    height:100%;
    border-radius: 20px;
    background-size:cover;
    background-position: center center;
    opacity: 0.5;
    transition:opacity 0.2s linear;
}
.item:nth-of-type(1) .inner .bg{
    background-image:url('./img/1.jpg');
} 
.item:nth-of-type(2) .inner .bg{
    background-image:url('./img/2.jpg');
}
.item:nth-of-type(3) .inner .bg{
    background-image:url('./img/3.jpg');
} 
.item:nth-of-type(4) .inner .bg{
    background-image:url('./img/4.jpg');
}
.item:nth-of-type(5) .inner .bg{
    background-image:url('./img/5.jpg');
} 
.item:nth-of-type(6) .inner .bg{
    background-image:url('./img/6.jpg');
}
.init .item .inner{
    transform: translateY(100%);
}
.item:nth-of-type(1) .inner{
    transition-delay: 0.1s
} 
.item:nth-of-type(2) .inner{
    transition-delay: 0.2s
}
.item:nth-of-type(3) .inner{
    transition-delay: 0.3s
} 
.item:nth-of-type(4) .inner{
    transition-delay: 0.4s
}
.item:nth-of-type(5) .inner{
    transition-delay: 0.5s
} 
.item:nth-of-type(6) .inner{
    transition-delay: 0.6s
}
/* 标题 */
.item .inner .title{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.item .inner h2{
    color:#fff;
    font-size: 16px;
    transition:all 0.2s linear;
}
.item .inner:hover .bg{
    opacity: 1;
}
.item:hover .inner h2{
    font-size:24px; 
}

/* 点击展开 */
.wrapper-active .content .item{
    transition:height 0.5s linear, width 0.5s linear 0.5s;
}
.item.active{
    width:100%;
}
.wrapper-active .item:not(.active){
    width:0%;
    height:0%;
}

/* 点开之后 */
.wrapper-active .item .bg{
    opacity: 1;
}
.wrapper-active .item .title h2{
    opacity:0;
}
.wrapper .dir{
    position: absolute;
    top:50px;
    width:100%;
    height:30px;
    opacity: 0;
}
.wrapper-active .dir{
    opacity: 1;
    transition:opacity 0.5s linear 1s;
}
.wrapper .dir .header{
    position: absolute;
    left:50px;
    top:50%;
    transform: translateY(-50%);
    color:#fff;
    font-size:24px;
}
.wrapper .dir .close{
    position: absolute;
    right: 50px;
    color:#fff;
    width:30px;
    height:30px;
    /* bordeR:1px solid #fff; */
    cursor: pointer;
}
/* X关闭符号通过伪元素实现 */
.close::before,
.close::after{
    position: absolute;
    content:'';
    width:30px;
    height:4px;
    background-color:#fff;
    top:50%;
}
.close::before{
    transform: rotate(45deg);
}
.close::after{
    transform: rotate(-45deg);
}
.item.active .dir .close{
    transform: rotate(360deg);
    transition:transform 0.5s linear 1s;
}