<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE TODOLIST</title>
    <script src="https://cdn.bootcss.com/vue/2.5.18-beta.0/vue.js"></script>
</head>
<body>
    <div id="container">
        <input type="text" v-model="inputVal" @keyup.enter="addToList">
        <button v-on:click="addToList">提交</button>
        <ul id="list">
            <li v-for="(item, index) in todoList" :key="item">
                    {{item}}
            </li>
        </ul>
    </div>
    <script>

        const data = {
            inputVal: '',
            todoList: [],
        }
        
        const vm = new Vue({
            el: '#container',
            data,
            methods: {
                addToList() {
                    this.todoList.push( this.inputVal )
                    this.inputVal = ''
                }
            }
        })
    </script>
</body>
</html>